<h1>About Me</h1>
<p>Rob is to coffee what Manu is to gluten and Ruby and Italy</p>

<img src="http://www.pimsleurapproach.com/seo/images/italian-ordering-coffee.jpg"/>
<img src="http://www.vcreporter.com/site_images_upload/story/2008/05/21/17/IGT.jpg"/>
<img src="http://upload.wikimedia.org/wikipedia/commons/c/c8/Bulgarian_flag_%282%29.jpg"/>